<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <html lang="en-US">
        <meta name="author" content="Shady Goat">
        <meta name="description" content="todo">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/svg+xml" href="assets/favicon.svg">
        <link rel="canonical" href="/" />
		<meta content="The set game, recreated by Shady Goat" property="og:title" />
		<meta content="This is the fun card game 'SET', but recreated as a website made with preact. " property="og:description" />
		<meta content="https://shadygoat.eu" property="og:url" />
		<meta content="https://shadygoat.eu/pfp.png" property="og:image" />
		<meta content="#6d10ff" data-react-helmet="true" name="theme-color" />

		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
