<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <html lang="en-US">
        <meta name="author" content="Shady Goat">
        <meta name="description" content="Heya! I'm Shady Goat, a fullstack developer. I mainly do backend development, but I'm not bad at frontend. I know typescript, javascript, python, and learning golang. I do SQL, SQLite, noSQL (MongoDB). I know express, fastify for backend in node.js. I also do discord bots, using either python or node.js.">
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/svg+xml" href="assets/favicon.svg">
        <link rel="canonical" href="/" />
        <meta content="Shady Goat | A FullStack Dev" property="og:title" />
        <meta content="Heya! I'm Shady Goat, a fullstack developer. I mainly do backend development, but I'm not bad at frontend. I know typescript, javascript, python, and learning golang. I do SQL, SQLite, noSQL (MongoDB). I know express, fastify for backend in node.js. I also do discord bots, using either python or node.js." property="og:description" />
        <meta content="https://shadygoat.eu" property="og:url" />
        <meta content="https://shadygoat.eu/pfp.webp" property="og:image" />
        <meta content="#6d10ff" name="theme-color" />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
