<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <html lang="en-US">
        <meta name="author" content="Shady Goat">
        <meta name="description" content="Heya! I'm Shady Goat, a dev. I can do frontend, backend & discord bots. I know typescript, javascript, python, and learning golang. I do SQL, SQLite & MongoDB">
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/svg+xml" href="assets/favicon.svg">
        <meta content="Shady Goat | A FullStack Dev" property="og:title" />
        <meta content="Heya! I'm Shady Goat, a dev. I can do frontend, backend & discord bots. I know typescript, javascript, python, and learning golang. I do SQL, SQLite & MongoDB" property="og:description" />
        <meta content="https://shadygoat.eu" property="og:url" />
        <meta content="https://shadygoat.eu/pfp.webp" property="og:image" />
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
        <meta content="#6d10ff" name="theme-color" />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
